h1 {
    color: rgba(0, 194, 129, 0.979);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}

h3 {
    line-height: 20px;
    color: darkgrey;
}

p {
    font-family: 'roboto',sans-serif;
    text-align: center;
    color: white;
    line-height: 40px;
}

a {
    color: aquamarine;
    line-height: 20px;
}

.grass {
    background-image: url(./images/greengrass.jpeg);
    
}